.box
{ 
   
    width: 100%;
    min-width: 100%;
    background-color: #0B0B0B;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #454747;
  }
  
  .gallery:hover .overlay {
    opacity: 0.5;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 100;
    font-family: 'ARIAL', sans-serif;
  }
.navigation
{
    position: absolute;
    right: 20px;
    top: 25px;
}

.navigation ul li
{
    display: inline-block;
    margin-top: 20px;
    margin-right: 25px;
    color: black;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#logo
{
    margin-top: 20px;
    max-height: 90px;
    max-width: 250px;
    margin-bottom: 20px;
    position: relative;
    left: 20px;
}

#concept
{
   text-decoration: none;
    
    
}

#contact
{
   text-decoration: none;
    
    
}

#contact:hover
{
    color: cadetblue;
}

#webdesign
{
   text-decoration: none;
    
    
}

#webdesign:hover
{
    color: cadetblue;
}

#concept:hover 
{
    color:cadetblue;
}

#concept:active
{
    color:black;
}

#big
{
    left: 150px;
    width: 70%;
    position:relative;
    height: 1000px;
   object-fit: cover;
    margin-top: 0px;
    
   

}

#stopka
{


    height: 50px;
    bottom: 0px;
    width:99.2%;
    position:fixed;
    color:white;
    filter: brightness(30%);
    background-color: black;
    z-index: 1;
    
  
}

.minibox 
{
    margin-top: -15px;
    text-align: center;
    width:95%;
    height:90%;
    margin-bottom: 20px;
}

.gallery 
{
    margin-left: -200px;
    margin-right: -8px;
    width:auto;
    position: relative;
    float:right;
    top: 0px;
    overflow: hidden;
    object-fit: cover;
    max-height: 1065px;
}
.gallery img
{
    filter: brightness(50%);
    height: 254px;
    width: 300px;
    margin-right: 6px;
    margin-top: -3px;
    margin-bottom: -10px;
    object-fit: cover;

}

a { color:black } 

.gallery img:hover
{
    transition-duration: 1s;
   filter:  brightness(100%);
    cursor:pointer;
}

@keyframes brightness
{
    to 
    {
        filter: brightness(100%);
    }
}

.brightness 
{
   filter:brightness(0%);
    animation: brightness 0.5s ease-in 1 forwards;
    
}

@media (max-width: 1600px)
{
    .gallery img
    {
        transition-duration: 1s;
       height: 200px;
        transition-duration: 1s;
       width: 200px; 
      
    }
    #big
    {
        transition-duration: 1s;
        height: 785px;
    }
}

@media (min-width: 2450px)
{
    .gallery img
    {
        transition-duration: 1s;
        height: 350px;
        transition-duration: 1s;
       width: 420px;
    }





}